stages:
  - isort
  - test
  - deploy

check-isort:
  stage: isort
  image: ubuntu:20.04
  before_script:
    - apt-get update
    - apt-get install isort
  script:
    - isort --diff .
    - exit $?
    
django-tests:
  stage: test
  image: docker/compose:1.27.4
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://docker:2375/
  script:
    - docker-compose -f test-compose.yml up --exit-code-from django
  tags:
    - docker-privileged-xl
    
trigger-deploy:
  stage: deploy
  only:
    - develop
    - qa
    - main
  trigger: digitalmemory/openshift-deploy
