stages:
  - test
  - deploy

django-tests:
  stage: test
  image: docker/compose:1.27.4
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://docker:2375/
  script:
    - docker-compose -f test-compose.yml up --exit-code-from django
  tags:
    - docker-privileged-xl
    
trigger-deploy:
  stage: deploy
  only:
    - develop
    - main
  trigger: digitalmemory/openshift-deploy
