stages:
  - test
  - deploy

test:
  stage: test
  parallel:
    matrix:
      - IMAGE: ["python:3.6", "python:3.7"]
  image: $IMAGE
  script:
    - pip install -r requirements.txt
    - python manage.py test

trigger-deploy:
  stage: deploy
  trigger: digitalmemory/openshift-deploy
