stages:
  - format
  - test
  - tag
  - build
  - deploy-dev
  - trigger-dev
  - deploy-qa
  - trigger-qa
  - deploy-prod
  - trigger-prod

check-isort:
  stage: format
  image: registry.cern.ch/docker.io/library/python:3.11
  before_script:
    - pip install --upgrade pip
    - pip install wheel==0.45.1
    - pip install isort==5.13
  script:
    - isort --profile black -c --skip "migrations" .

check-black:
  stage: format
  image: registry.cern.ch/docker.io/library/python:3.11
  before_script:
    - pip install --upgrade pip
    - pip install black==24.10
  script:
    - black . --check --exclude "oais_platform/oais/migrations"

django-tests:
  stage: test
  image: registry.cern.ch/docker.io/library/docker:20.10.16
  services:
    - name: registry.cern.ch/docker.io/library/docker:20.10.16-dind
      alias: docker
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - docker info
    - docker-compose -f test-compose.yml up --exit-code-from django
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura 
        path: coverage.xml
  coverage: '/TOTAL.+ ([0-9]{1,3}%)/'
  tags:
    - docker-privileged-xl

scripts-tests:
  stage: test
  image: registry.cern.ch/docker.io/library/docker:20.10.16
  services:
    - name: registry.cern.ch/docker.io/library/docker:20.10.16-dind
      alias: docker
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - docker-compose -f test-scripts-compose.yml up --build --exit-code-from scripts-test
  tags:
    - docker-privileged-xl

build-scripts-image:
  stage: build
  image:
    name: registry.cern.ch/quay.io/buildah/stable:latest
  variables:
    FQ_IMAGE_NAME: "${CI_REGISTRY_IMAGE}/scripts:$CI_COMMIT_TAG"
    CONTAINER_STORAGE: "/builds/container-storage"
  rules:
    - if: '$CI_COMMIT_TAG'
  before_script:
    - mkdir -p ${CONTAINER_STORAGE}
    - mkdir -p ~/.config/containers/
    - |
      cat > ~/.config/containers/storage.conf << EOF
      [storage]
       driver = "overlay"
       runroot = "${CONTAINER_STORAGE}/run/containers/storage"
       graphroot = "${CONTAINER_STORAGE}/.local/share/containers/storage"
       rootless_storage_path = "${CONTAINER_STORAGE}/.local/share/containers/storage"
       [storage.options]
       pull_options = {enable_partial_images = "true", use_hard_links = "false", ostree_repos=""}
       [storage.options.overlay]
      EOF
    - cp ~/.config/containers/storage.conf /etc/containers/storage.conf || true
    - echo "$CI_REGISTRY_PASSWORD" | buildah login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - buildah build -t $FQ_IMAGE_NAME --file "$CI_PROJECT_DIR/scripts/Dockerfile" "$CI_PROJECT_DIR"
    - buildah push $FQ_IMAGE_NAME

get-version:
  stage: tag
  only:
  - main
  script:
  - |
      VERSION=$(grep "__version__" oais_platform/__init__.py | cut -d'"' -f2)
      echo Version: $VERSION
      echo "VERSION=$VERSION" >> build.env
  artifacts:
    reports:
      dotenv: build.env

# Add deploy and trigger jobs for all envs
include:
  - local: .gitlab-ci-common.yml
    # inputs:
    #   project: oais-platform