spec:
  inputs:
    project:
      description: "oais-platform|oais-web"
---
# Pipeline stages that are common for oais-platform and oais-web
create-release:
  stage: tag
  needs: ["get-version"]   # ensures artifacts (and the dotenv) are fetched
  only:
    - main
  script: 
    - |
      if ! [[ $VERSION =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
        echo "Invalid VERSION '$VERSION' (expected X.Y.Z)"
        exit 1
      fi
      TAG="v$VERSION"
      TAG_EXISTS=$(git tag --list $TAG)
      if [ -n "$TAG_EXISTS" ]; then
        echo "Tag $TAG already exists, skipping release creation"
        exit 0
      fi
    - |
      # Make sure we have tags and a clean repo view
      git fetch --tags --quiet
    - echo "Tag $TAG does not exist, creating tag"
    - git remote add gitlab_origin https://oauth2:$CREATE_NEW_TAG_TOKEN@gitlab.cern.ch/digitalmemory/$[[ inputs.project ]].git
    - git tag $TAG 
    - git push gitlab_origin $TAG    

build-image:
  stage: build
  image:
    name: registry.cern.ch/quay.io/buildah/stable:latest
  variables:
    FQ_IMAGE_NAME: "${CI_REGISTRY_IMAGE}:$CI_COMMIT_TAG"
    CONTAINER_STORAGE: "/builds/container-storage"
  rules:
    - if: '$CI_COMMIT_TAG'
  before_script:
    - mkdir -p ${CONTAINER_STORAGE}
    - mkdir -p ~/.config/containers/ 
    - |
      cat > ~/.config/containers/storage.conf << EOF
      [storage]
       driver = "overlay"
       runroot = "${CONTAINER_STORAGE}/run/containers/storage"
       graphroot = "${CONTAINER_STORAGE}/.local/share/containers/storage"
       rootless_storage_path = "${CONTAINER_STORAGE}/.local/share/containers/storage"
       [storage.options]
       pull_options = {enable_partial_images = "true", use_hard_links = "false", ostree_repos=""}
       [storage.options.overlay]
      EOF
    - cp ~/.config/containers/storage.conf /etc/containers/storage.conf || true
    - echo "$CI_REGISTRY_PASSWORD" | buildah login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - buildah build -t $FQ_IMAGE_NAME .
    - buildah push $FQ_IMAGE_NAME

.deploy_template:
  when: manual
  image: registry.cern.ch/docker.io/library/docker:20.10.16
  services:
    - name: registry.cern.ch/docker.io/library/docker:20.10.16-dind
      alias: docker
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  allow_failure: false
  script:
    - |
      docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
      docker pull ${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}
      docker tag ${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG} \
        ${CI_REGISTRY_IMAGE}:${DEPLOY_ENV}
      docker push ${CI_REGISTRY_IMAGE}:$DEPLOY_ENV
  tags:
    - docker-privileged-xl

deploy-dev:
  extends: .deploy_template
  stage: deploy-dev
  variables:
    DEPLOY_ENV: "dev"
  rules:
    - if: '$CI_COMMIT_TAG'

deploy-qa:
  extends: .deploy_template
  stage: deploy-qa
  variables:
    DEPLOY_ENV: "qa"
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'

deploy-prod:
  extends: .deploy_template
  stage: deploy-prod
  variables:
    DEPLOY_ENV: "prod"
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'

.trigger_template:
  image: gitlab-registry.cern.ch/paas-tools/openshift-client:latest
  variables:
    SERVER: https://api.paas.okd.cern.ch
    BUILD_NAME: oais
    IMAGE_STREAM_NAME: $CI_PROJECT_NAME
  script:
    - oc login $SERVER --token=$DEPLOY_TOKEN
    - oc project preserve-$ENV
    - echo "Triggering ImageStream update for $IMAGE_STREAM_NAME on preserve-$ENV"
    - sleep 10 && oc import-image $IMAGE_STREAM_NAME --all

trigger-dev:
  extends: .trigger_template
  stage: trigger-dev
  variables:
    ENV: "dev"
  needs:
    job: deploy-dev
  rules:
    - if: '$CI_COMMIT_TAG'

trigger-qa:
  extends: .trigger_template
  stage: trigger-qa
  variables:
    ENV: "qa"
  needs:
    job: deploy-qa
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'

trigger-prod:
  extends: .trigger_template
  stage: trigger-prod
  variables:
    ENV: "prod"
  needs:
    job: deploy-prod
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'
