stages:
  - isort
  - black
  - test
  - deploy

check-isort:
  stage: isort
  image: registry.cern.ch/docker.io/library/python:3.11
  before_script:
    - pip install --upgrade pip
    - pip install isort
  script:
    - isort --profile black -c --skip "migrations" .

check-black:
  stage: black
  image: registry.cern.ch/docker.io/library/python:3.11
  before_script:
    - pip install --upgrade pip
    - pip install black
  script:
    - black . --check --exclude "oais_platform/oais/migrations"

django-tests:
  stage: test
  image: registry.cern.ch/docker.io/docker/compose
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://docker:2375/
  script:
    - docker-compose -f test-compose.yml up --exit-code-from django
  tags:
    - docker-privileged-xl
    
trigger-deploy:
  stage: deploy
  only:
    - develop
    - qa
    - main
  trigger: digitalmemory/openshift-deploy
