stages:
  - isort
  - black
  - test
  - deploy

check-isort:
  stage: isort
  image: registry.cern.ch/docker.io/library/python:3.11
  before_script:
    - pip install --upgrade pip
    - pip install isort==5.13
  script:
    - isort --profile black -c --skip "migrations" .

check-black:
  stage: black
  image: registry.cern.ch/docker.io/library/python:3.11
  before_script:
    - pip install --upgrade pip
    - pip install black==24.10
  script:
    - black . --check --exclude "oais_platform/oais/migrations"

django-tests:
  stage: test
  image: registry.cern.ch/docker.io/library/docker:20.10.16
  services:
    - name: registry.cern.ch/docker.io/library/docker:20.10.16-dind
      alias: docker
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - docker info
    - docker-compose -f test-compose.yml up --exit-code-from django
  after_script:
    - docker cp $(docker-compose ps -q django):/coverage/coverage.xml .
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    paths:
      - coverage.xml
  tags:
    - docker-privileged-xl
    
trigger-deploy:
  stage: deploy
  only:
    - develop
    - qa
    - main
  trigger: digitalmemory/openshift-deploy
