# Pipeline stages that are common for oais-platform and oais-web
build-image:
  stage: build
  image:
    name: registry.cern.ch/gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  rules:
    - if: '$CI_COMMIT_TAG'
  script:
    # Configure Kaniko to authenticate with GitLab Container Registry
    - mkdir -p /kaniko/.docker
    - >
      echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" 
      > /kaniko/.docker/config.json

    # Build and push the Docker image
    - /kaniko/executor
      --context "$CI_PROJECT_DIR"
      --dockerfile "$CI_PROJECT_DIR/Dockerfile"
      --destination "${CI_REGISTRY_IMAGE}:$CI_COMMIT_TAG"
      --cache=true

.deploy_template: &deploy_template
  stage: deploy
  when: manual
  image: registry.cern.ch/docker.io/library/docker:20.10.16
  services:
    - name: registry.cern.ch/docker.io/library/docker:20.10.16-dind
      alias: docker
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  rules:
    - if: '$CI_COMMIT_TAG'
  allow_failure: false
  script:
    - |
      docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
      docker pull ${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}
      docker tag ${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG} \
        ${CI_REGISTRY_IMAGE}:${DEPLOY_ENV}
      docker push ${CI_REGISTRY_IMAGE}:$DEPLOY_ENV
  tags:
    - docker-privileged-xl

deploy-dev:
  <<: *deploy_template
  variables:
    DEPLOY_ENV: "dev"

deploy-qa:
  <<: *deploy_template
  variables:
    DEPLOY_ENV: "qa"

deploy-prod:
  <<: *deploy_template
  variables:
    DEPLOY_ENV: "prod"

.trigger_template:
  stage: trigger
  image: gitlab-registry.cern.ch/paas-tools/openshift-client:latest
  variables:
    SERVER: https://api.paas.okd.cern.ch
    BUILD_NAME: oais
  rules:
    - if: '$CI_COMMIT_TAG'
  script:
    - oc login $SERVER --token=$DEPLOY_TOKEN
    - oc project preserve-$ENV
    - echo "Triggering build $BUILD_NAME for $ENV"
    - sleep 10 && oc start-build $BUILD_NAME --wait
    - echo "Triggering deployments for $ENV"
    - sleep 10 && oc rollout status deployment/celery
    - oc rollout status deployment/oais-platform

trigger-dev:
  extends: .trigger_template
  variables:
    ENV: "dev"
  needs:
    job: deploy-dev

trigger-qa:
  extends: .trigger_template
  variables:
    ENV: "qa"
  needs:
    job: deploy-qa

trigger-prod:
  extends: .trigger_template
  variables:
    ENV: "prod"
  needs:
    job: deploy-prod