stages:
  - test
  - deploy

django-tests:
  stage: test
  image: docker/compose:1.27.4
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://localhost:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker-compose -f test-compose.yml up --exit-code-from django
    
trigger-deploy:
  stage: deploy
  trigger: digitalmemory/openshift-deploy
