version: '3'

services:
  oais_platform:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - .:/oais_platform
    command: >
      sh -c "python3 manage.py migrate &&
             python3 manage.py runserver 0.0.0.0:8000"
    environment:
      # Point to the postgres service
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASS=overwritethisinprod!
    depends_on:
      - db

    env_file:
      - ./.env.dev

  db:
    image: postgres:14-alpine
    environment:
      - POSTGRES_DB=oais_platform
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=overwritethisinprod!
    volumes:
      - .:/var/lib/postgresql/data

  redis:
    image: redis:alpine
  
  celery:
    restart: always
    build:
      context: .
    command: celery -A oais_platform.celery worker -l INFO
    volumes:
      - .:/oais_platform
    env_file:
      - ./.env.dev
    depends_on:
      - redis
      - oais_platform
    environment:
      # Point to the redis service
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
