aiohttp==3.7.3
aiohttp-cors==0.7.0
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.3.0
black==20.8b1
Brlapi==0.8.2
celery==4.4.7
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cupshelpers==1.0
dbus-python==1.2.16
distlib==0.3.1
distro-info==1.0
Django==3.2.4
djangorestframework==3.12.4
filelock==3.0.12
flower==0.9.7
fuse-python==1.0.2
gpg===1.14.0-unknown
httplib2==0.18.1
idna==2.10
louis==3.16.0
multidict==5.1.0
mypy-extensions==0.4.3
pathspec==0.8.1
pipenv==2020.11.15
pycairo==1.16.2
pycups==2.0.1
pycurl==7.43.0.6
Pygments==2.7.1
PyGObject==3.38.0
pylibacl==0.6.0
pymarc==4.0.0
PyQt5==5.15.2
PyQt5-sip==12.8.1
PySimpleSOAP==1.16.2
pysmbc==1.0.23
python-apt==2.1.7
python-debian==0.1.39
python-debianbts==3.1.0
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.3.1
redis==3.5.3
regex==2020.11.13
reportbug==7.10.3
requests==2.25.1
six==1.15.0
toml==0.10.2
tornado==6.1
typed-ast==1.4.2
typing-extensions==3.7.4.3
unattended-upgrades==0.1
urllib3==1.26.2
virtualenv==20.4.0
virtualenv-clone==0.5.4
xdg==5
yarl==1.6.3
